 <CascadingAuthenticationState>
<Router AppAssembly="@typeof(MauiProgram).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Components.Layout.MainLayout)">
             <Authorizing>
                 <p>Please wait, we are authorizing the user!..</p>
             </Authorizing>
             <NotAuthorized>
                 <p>You're not authorized to view this page</p>
             </NotAuthorized>
        </AuthorizeRouteView>/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView DefaultLayout="@typeof(Components.Layout.MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
 </CascadingAuthenticationState>
